@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.glitch {
  animation: fadein 1.4s ease-in-out;
}

.typing {
  overflow: hidden;
  animation: type 1.5s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0.4;
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes type {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.slomo {
  transition: 0.3s opacity ease-in;
}
.bgtransition {
  transition: 0.5s background-color ease-in;
}

.dottedLi li::before {
  display: inline-block;
  content: "";
  border-radius: 50%;
  height: 10px;
  width:10px;
  margin-right: 0.5rem;
  background-color: skyblue;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200, 201, 201); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}
